.homeContainer {
  display: flex;
  flex: 1;
}

.formContainer {
  margin: auto;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.label {
  display: block;
}

.nicknameInput {
  padding: 10px 5px;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 5px;
}

.submitBtn {
  display: block;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  display: block;
  color: red;
  font-size: 14px;
}
